body{
    background-color: black;
    text-align: center;
}

h1{
    color: red;
}

.date{
    position: relative;
    
}

.time{
    position: relative;
}

.clock{
    border-color: red;
    border-width: 2px;
    border-style: solid;
    border-radius: 5%;
    position: fixed;
    padding: 4%;
    margin: 12% 38%;
    box-shadow: 0 0 12px 5px  #111  inset;
}

#btn{
    border: #111;
    border-radius: 10px;
    background-color: azure;
}
